body{
  background-color: #D3E4CD;
}

.mainDiv{
    margin-top: 4%;
    margin-left:5px;
  padding: 10px;
  height: 90vh;
  width: 15%;
  background-color:  #CFDAC8;
  /* border-radius: 10px; */
  position: fixed;
  top: 0px;
  left: 0px;
  color: rgb(116, 112, 108)
}
.toggleDiv{

  margin-left: 16%;
}