body{
   
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color:#EEEBDD;
    color: #630000;
    place-items:unset;

}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.navbar-container{
    background-color: rgb(116, 199, 164);
    margin: 0%;
    height: 50px;
    /* border: 1px solid green; */
    position: sticky;
    top: 0%;
}

.navbar-list {
  display: flex;
  /* text-decoration: none; */
  list-style-type: none;
  justify-content: space-around;
  /* border: 1px solid black; */
  margin: 0%;
}

.navbar-link {
  text-decoration: none;
}

/* visited link */
.navbar-link:visited {
  color: green;
}

/* mouse over link */
.navbar-link:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.navbar-link:active {
  color: red;
}

.navbar-item{
font-size:x-large;
font-family: "Quicksand", sans-serif;
font-weight: bolder;
}