body{
   
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color:#333;
    /* color: #7C9473; */
    place-items:unset;

}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.navbar-container{
    background-color: #333;
    z-index: 150;
    margin: 0%;
    height: 50px;
    /* border: 1px solid green; */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
  justify-content:space-around;

}

.navbar-list {
  display: flex;
  /* text-decoration: none; */
  list-style-type: none;
  justify-content:space-between;
  padding: auto;
  /* border: 1px solid black; */
  margin-right: 200px;

}

.navbar-link {
  text-decoration: none;
}



.navbar-item{
/* font-size:x-large;
font-family: "Quicksand", sans-serif;
font-weight: bolder; */
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


.navbar-item:hover {
  background-color: #111;
}


/* visited link */
.navbar-link:visited {
  color: #7C9473;
}

/* mouse over link */
.navbar-link:hover {
  color: #707070;
  text-decoration: none;
}

/* selected link */
.navbar-link:active {
  color: rgb(111, 161, 122);
}