
.customSlider {
	opacity: 0;
	display: none;}
	  .customSlider label {
		  position: relative;
		  top: 35px;
		  left: 15px;
		  cursor: pointer;}
		
	
	  
		  
		  .top-icons i {
				  color: #fff;
			  }
	
			  
			  .title {
				  color: #7C8097;
			  } 
			  
			  .description {
				  color: #FDFEFF;
			  }
		
		  .icon  h4 {
				  color: #FFFFFF;
			  }
			  
			  p {
				  /* color: #666B7D; */
			  }
		


.rabrDiv {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem; */
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* width: clamp(20rem,calc(20rem + 2vw), 22rem); */
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  
  .chiledDiv{
    width: 70%;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

  }
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .tag-blue {
    background: #f2bb56b9;
  /* background: linear-gradient(to bottom, #2F80ED, #56CCF2); */
    color: #fafafa;
  }
  
  .tag-brown {
    background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
  }
  
  .tag-red {
    background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .user__info > small {
    color: #666;
  }



  .customSlider {
    opacity: 0;
    display: none;
  }
  .customSlider label {
    position: relative;
    top: 35px;
    left: 15px;
    cursor: pointer;}
   
    
    
    
    .top-icons  i {
      color: #fff;
    }
      
        
        .title {
          color: #7C8097;
        } 
        
        .description {
          color: #FDFEFF;
        }
      .icon  h4 {
          color: #FFFFFF;
        }
        
    .icon  p {
          color: #666B7D;
        }
 
  
  .wrapper {
    width: 80%;
    height: 120vh;
    background: #FDFEFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(#000000, .2);}
    
    .top-icons  i {
        color: #080911;

          float: left;
        }
       
    .profile {
      margin-top: 2.2em;
      position: relative;
      
    }
      .check {
        position: absolute;
        right: 5em;
        bottom: 12.7em;}
      .check  i {
          color: #fff;
          width: 20px;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          border-radius: 100%;
       	
        }
    
      .thumbnail {
        width: 70px;
        height: 70px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        border-radius: 100%;

      }
      .name {

        margin: auto;
        color: #2D354A;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    
    
        font-weight: 300;
        text-align: center;
        padding-top: .5em;
        padding-bottom: .7em;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
      
      .title {
        color: #7C8097;
        font-size: .75em;
        font-weight: 300;
        text-align: center;
        padding-top: .5em;
        padding-bottom: .7em;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
      
      .description {
        color: #080911;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 1.3em;
      }
      
      .btn {
        color: rgba(182, 179, 173, 0.849);
        background: #e6dfd3d3;
        width: 130px;
        height: 42px;
        outline: none;
        border: none;
        display: block;
        cursor: pointer;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        border-radius: 70px;
        box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
        margin-bottom: 10px;
     
      }

      .btn2 {
        color: rgb(153, 230, 102);
        background: #a1f256b9;
        width: 130px;
        height: 42px;
        outline: none;
        border: none;
        display: block;
        cursor: pointer;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        border-radius: 70px;
        box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
        margin-bottom: 10px;
        
      }
    
    
    .social-icons {
      display: flex;
      margin-top: 1.2em;
      justify-content: space-between;
    }
      .icon {
        display: flex;
        align-items: center;
        flex-direction: column;}
        /* .icon a {
          color: #fff;
          width: 60px;
          height: 60px;
          font-size: 28px;
          line-height: 60px;
          text-align: center;
          border-radius: 30px;
         
        } */
        
        
        h4 {
          color: #080911;
          font-size: 1em;
          margin-top: 1.3em;
          margin-bottom: .2em;
        }
        
        p {
          /* color: #666B7D; */
          font-size: 12px;		
        }
   
  
  .concept {
    position: absolute;
    bottom: 25px;
    color: #AAB0C4;
    font-size: .9em;
    font-weight: 400;}
   .concept a {
      color: rgba(172,25,102,1);
      text-decoration: none;
    }
  