body{
    background-color: #E8EAE6;
}
.appDiv{

    height: 100vh;
}
.divApp{

    margin-top: 50px;
}


.loader {
    width: 300px ;
    height: 20px;
    background-color: grey;
}
.loader2 {
    height: 20px;
    background-color: green;
    
}
